{
	"root": true,
	"parser": "@typescript-eslint/parser",
	"plugins": ["@typescript-eslint", "react", "react-hooks"],
	"extends": [
		"prettier",
		"eslint:recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:react/recommended",
		"plugin:react-hooks/recommended"
	],
	"ignore": ["postcss.config.js"],
	"settings": {
		"react": {
			"version": "detect"
		}
	}
}
